body {
    background: #666666;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

.twoColumnHdrFtr #container {
    max-width: 90vw;
    min-height: 90vh;
    overflow: hidden;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #000000;
    text-align: left;
}

.twoColumnHdrFtr #header {
    background: #dddddd;
    padding: 10px;
}

.twoColumnHdrFtr #header h1 {
    text-align: center;
    margin: 0;
    /* padding: 10px; */
}

.twoColumnHdrFtr #sidebar {
    float: left;
    width: 30%;
    background: #ebebeb;
    padding: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.twoColumnHdrFtr #sidebar h1 {
    font-size: 100%;
}

#nav {
    padding: 5px 10px;
    /* background:#c99; */
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
    font-size: 100%;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li {
    display: inline;
    margin: 0;
    padding: 0 10px;
}

.twoColumnHdrFtr #content {
    float: left;
    width: 70%;
    padding: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
}

.twoColumnHdrFtr #footer {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
    padding: 10px;
    border: 1px solid #000000;
}

.twoColumnHdrFtr #footer p {
    font-size: x-small;
}