@using ImageSharingWithModel.Controllers

@model ImageSharingWithModel.Models.ImageView

@{
    ViewBag.Title = "Edit Image";
}

<h2>@ViewBag.Title</h2>

<form method="post" class="form-group"   style="display: flex;flex-direction: column;" asp-action="DoEdit" asp-controller="Images">
    <div>
        <p class="text-danger">@ViewBag.Message</p>
        <p>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </p>
    </div>
    <div>

    <fieldset>
        <legend>Edit Image Information</legend>

        <input type="hidden" asp-for="Id"/>

        <p>
            <img class="img-thumbnail" src="~/@(ImagesController.imageContextPath(Model.Id))"/>
        </p>

        <p>Image id: @Model.Id</p>

        <p>
            Caption: <!-- TODO -->
            <input asp-for="Caption"/>
            <br/>
            <span class="text-danger" asp-validation-for="Caption"></span>

        </p>
        <p>
            Select a tag: <!-- TODO -->
            <select asp-for="TagId" asp-items="Model.Tags">
                <option disabled selected value="">Select a tag</option>
            </select>
            <br/>
            <span class="text-danger" asp-validation-for="TagId"></span>

        </p>
        <p>
            Description:<br/> <!-- TODO -->
            <textarea asp-for="Description" cols="40" rows="5">Enter description here.</textarea>
            <br/>
            <span class="text-danger" asp-validation-for="Description"></span>
        </p>
        <p>
            Date taken: <!-- TODO -->
            <label asp-for="DateTaken"/>
            <input asp-for="DateTaken"/>
            <br />
            <span class="text-danger" asp-validation-for="DateTaken"></span>
        </p>
        <p>
            <input type="submit" value="Submit Changes"/>
        </p>
    </fieldset>
    </div>

   

</form>